@import "../../../fonts.scss";
@import "../../../colors.scss";

.about {
    $margin: 50px;
    $duration: 5s;
    font-family: lato;

    .bg-img {
        display: flex;
        background-color: #ccc;
        height: 50vh;
        min-height: 500px;
        max-height: 1000px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .pf-img {
            width: 100%;
            margin: auto;

            img {
                //width: 25%;
                min-width: 250px;
                height: 50vh;
                text-align: center;
                border-radius: 50%;
                margin: auto;
                padding: auto;
                border: 3px solid black;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .info {
            .photo {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .name {
                    color: var(--lightColorName);
                }
            }
        }
    }

    .infoFull {
        color: var(--lightColor);

        .name {
            font-size: 30px;
            font-weight: bold;

            .base {
                text-align: right;
            }

            .value {
                text-align: center;
            }
        }

        .edu {
            margin-top: $margin;

            hr {
                border-top: 1px solid var(--lightColor);
            }

            .school {
                padding-left: 50px;

                .schoolName {
                    font-size: 25px;
                    font-weight: bold;
                }

                .time {
                    font-style: italic;
                }

                .department {
                    font-weight: bold;
                }

                &:nth-child(2) {
                    animation: zoomInDown;
                    animation-duration: $duration;
                }

                &:nth-child(3) {
                    animation: heartBeat;
                    animation-duration: $duration;
                }

                &:nth-child(4) {
                    animation: flip;
                    animation-duration: $duration;
                }

                &:nth-child(5) {
                    animation: rotateIn;
                    animation-duration: $duration;
                }

                &:nth-child(6) {
                    animation: jackInTheBox;
                    animation-duration: $duration;
                }

                &:nth-child(7) {
                    animation: zoomIn;
                    animation-duration: $duration;
                }

                &:nth-child(8) {
                    animation: lightSpeedInRight;
                    animation-duration: $duration;
                }
            }
        }

        .personal {
            margin-top: $margin;

            .personalInfo {
                padding-left: 50px;

                .base {
                    font-weight: bold;
                }

                .value {
                    font-weight: normal;

                    a {
                        text-decoration: none;
                        color: var(--lightLink);
                        @include hoverUnderline;

                        &:hover {
                            font-weight: bold;
                            font-style: italic;
                            //text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .div {
        width: 200px;
        height: 200px;
        color: red;
    }
}
