<div class="container">
  <div class="research">
    <div class="resea">
      RESEARCH INTEREST
      <hr />
      <div class="value">
        <ul class="list-group">
          <li class="list-group-item" id="1st">Metamaterials, metasurface, hybridized optical system.</li>
          <li class="list-group-item" id="2nd">
            Nano-optics/ Nanophotonics.
          </li>
          <li class="list-group-item" id="3rd">
            Polarization optics.
            <ul>
              <li>Spin-orbit interaction of light.</li>
              <li>Weak measurement.</li>
            </ul>
          </li>
          <li class="list-group-item" id="4th">Computation optics</li>
        </ul>
      </div>
    </div>
    <div class="tech">
      SKILLS
      <hr />
      <div class="value">
        <div class="row">
          <div class="col">Experimental Skills</div>
          <div class="col" id="4th">
            Handled various laser sources, spectrometers, imaging cameras, optical,
            optomechanical, and optoelectronic components and devices.
            Electron Beam Lithography, Scanning Electron Microscope
          </div>
        </div>
        <div class="row">
          <div class="col">Programming Skills </div>
          <div class="col" id="5th">
            COMSOL, Lumerical, CST, Fortran, C, C++, Python, MATLAB, Julia.
            The automation of optical experimental systems using MATLAB, Python
          </div>
        </div>
        <div class="row">
          <div class="col">TeX</div>
          <div class="col" id="6th">
            MS Office, LATEX
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      EXTRA-CURRICULAR (BASIC KNOWLEDGE)
      <hr />
      <div class="value">
        <div class="row">
          <div class="col">Web development client software</div>
          <div class="col">HTML, CSS, JavaScript, TypeScrip</div>
        </div>
        <div class="row">
          <div class="col">Web development server software </div>
          <div class="col">PHP, Flask, Django, Sass</div>
        </div>
        <div class="row">
          <div class="col">JavaScript Framework</div>
          <div class="col">jQuery, Node.js, React, Next.js, Angular</div>
        </div>
        <div class="row">
          <div class="col">Web development database</div>
          <div class="col">SQL, SQLite, MySQL, PostgreSQL, MongoDB</div>
        </div>
        <div class="row">
          <div class="col">Web server</div>
          <div class="col">Apache HTTP Server</div>
        </div>
        <div class="row">
          <div class="col">Video editing software </div>
          <div class="col">Kdenlive, Blender, Lightworks, OpenShot, Shotcut</div>
        </div>
        <div class="row">
          <div class="col">Audio edition software</div>
          <div class="col">Audacity</div>
        </div>
        <div class="row">
          <div class="col">Raster photo editing software</div>
          <div class="col">GIMP, Adobe Photoshop</div>
        </div>
        <div class="row">
          <div class="col">Vector photo editing software</div>
          <div class="col">nkscape, Adobe Illustrator</div>
        </div>
        <div class="row">
          <div class="col">3d drawing & Animation software </div>
          <div class="col">Blender</div>
        </div>
        <div class="row">
          <div class="col">2d Animation software</div>
          <div class="col">Pencil2D</div>
        </div>
        <div class="row">
          <div class="col">Web hosting </div>
          <div class="col">WordPress, DNS Server, CPanel</div>
        </div>
        <div class="row">
          <div class="col">Operating system (OS)</div>
          <div class="col">Linux, Windows</div>
        </div>
      </div>
      <div class="teach">
        TEACHING EXPERIENCE
        <hr />
        <div class="value">
          <ul class="list-group">
            <li class="list-group-item" id="9th">
              Physics Laboratory III (Teaching assistance)
            </li>
            <li class="list-group-item" id="10th">
              Electronics Lab (Teaching assistance)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>