<div class="container">
  <div class="research">
    <div class="resea">
      RESEARCH INTEREST
      <hr />
      <div class="value">
        <ul class="list-group">
          <li class="list-group-item" id="1st">Hybridize meta-surface</li>
          <li class="list-group-item" id="2nd">
            Spin orbit interaction of light & spin hall effect of light.
          </li>
          <li class="list-group-item" id="3rd">
            Spin orbit interaction in random medium
          </li>
        </ul>
      </div>
    </div>
    <div class="tech">
      TECHNICAL STRENGTHS
      <hr />
      <div class="value">
        <div class="row">
          <div class="col">Working Skill</div>
          <div class="col" id="4th">
            Electron Beam Lithography, Scanning Electron Microscope
          </div>
        </div>
        <div class="row">
          <div class="col">Modeling & Analysis</div>
          <div class="col" id="5th">
            COMSOL, CST Studio Suite , Blender, Inkscape
          </div>
        </div>
        <div class="row">
          <div class="col">Software & Tools</div>
          <div class="col" id="6th">
            C, Python, MATLAB, Julia, MS Office, LaTeX
          </div>
        </div>
      </div>
    </div>
    <div class="extra">
      EXTRA-CIRRUCULAR
      <hr />
      <div class="value">
        <ul class="list-group">
          <li class="list-group-item" id="check">
            Basic knowledge of client side language
            <span> (HTML, CSS, SASS, JAVASCRIPT, TYPESCRIPT), </span>
            server side programming
            <span> (Node.js, PHP, Flask, Django), </span> data serve
            language<span> (SQL, MYSQL, MONGODB), </span> JS framework/library
            <span> (Angular, React, JQuery, Netx.js) </span>
          </li>
          <li class="list-group-item" id="8th">
            Basic knowledge of Kdenlive (Videoediting software), Audacity (Audio
            editing software)
          </li>
        </ul>
      </div>
    </div>
    <div class="teach">
      TEACHING EXPERIENCE
      <hr />
      <div class="value">
        <ul class="list-group">
          <li class="list-group-item" id="9th">
            Physics Laboratory III (Teaching assistance)
          </li>
          <li class="list-group-item" id="10th">
            Electronics Lab (Teaching assistance)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
